@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
	--font-jost: "Jost", sans-serif;

	--color-tropical-indigo: #9381ff;
	--color-periwinkle: #b8b8ff;
	--color-ghost-white: #f8f7ff;
	--color-antique-white: #ffeedd;
	--color-apricot: #ffd8be;
}
